<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./footer.css">
</head>
<body>
        <div class="footer">
            <div class="footer_nft">
                <div class="ff">
                    <img src="./img/Storefront.png" alt=""><h3>NFT Marketplace</h3>
                </div>
               
                <p>NFT marketplace UI created with Anima for Figma.</p>
                <p>Join  our  community</p>
                <div class="icons">

                    <i class="fa-brands fa-discord"></i><i class="fa-brands fa-youtube"></i> <i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="footer__explore">
                <h3>
                    Explore
                </h3>
                <p>Marketplace</p>
                <p>Rankings</p>
                <p>Connect a wallet</p>
            </div>
            <div class="footer__join">
                <h3>Join our weekly digest</h3>
                <p>Get exclusive promotions & updates straight to your inbox.</p>
                <div class="jj">
                    <input type="text" name="" placeholder="Enter your email here"> 
                    <button><a href="">Subscribe</a></button>
                </div>
               
            </div>
        </div>
</body>
</html>