<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./car_collectiont.css">
</head>
<body>
    <div class="cart_collection">
        <div class="cart_collection_img">
            <img class="media1" src="./img/Primary Photo Placeholder.png" alt=""> <br>
        <img class="media2" src="./img/Secondary Photo Placeholder.png" alt="">
        <img class="media2" src="./img/Secondary Photo Placeholder (1).png" alt="">
         <a class="media2" href="#">1090</a>
        <h3>DSGN Animals</h3>
        </div>
        <div class="cart_collection_img responsive2">
        <img class="media1" src="./img/Primary Photo Placeholder (1).png" alt=""> <br>
        <img class="media2" src="./img/Secondary Photo Placeholder (4).png" alt="">
        <img class="media2" src="./img/Secondary Photo Placeholder (5).png" alt="">
         <a class="media2" href="#">1090</a>
        <h3>DSGN Animals</h3>
         </div>
      
         <div class="cart_collection_img responsive" >
        <img class="media1" src="./img/Primary Photo Placeholder (2).png" alt=""> <br>
        <img class="media2" src="./img/Secondary Photo Placeholder (6).png" alt="">
        <img class="media2" src="./img/Secondary Photo Placeholder (7).png" alt="">
         <a class="media2" href="#">1090</a>
        <h3>DSGN Animals</h3>
        </div>
    </div> 
</body>
</html>